<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Style.Render("~/bundle/style")*@
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @*<script src="~/Scripts/jquery-1.8.0.min.js"></script>*@



    @RenderSection("scripts",false) 

    <div>
        @RenderSection("page",true)
    </div>

    <div><a href="@Url.Action("Index","Home",new { area="Admin"})">Admin</a></div>

    @*@Scripts.Render("~/bundle/scripts")*@

</body>
</html>
