
@{
    Layout = null;

    Html.EnableClientValidation(false);
    Html.EnableUnobtrusiveJavaScript(false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <div>
    </div>
</body>
</html>

@using (Html.BeginForm("Index","Home",FormMethod.Get))
{
    @Html.Label("ProductName","Product Name")

    @Html.TextBox("ProductName","",new { placeHolder="Enter Pro",@class="form-control"})

    @Html.DropDownList("categoryId")

    @Html.TextArea("PerUnit","",5,1,new { } )

    @Html.Submit("Insert",new {@class="btn btn-info" })

}
